<script>
  window.edit = {
    shop: '{{ shop.permanent_domain }}',
  };
</script>
<div id="edit-order-root"></div>

{% schema %}
{
  "name": "OrderHold",
  "target": "body",
  "stylesheet": "style.css",
  "javascript": "script.js",
  "settings": []
}
{% endschema %}
